# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native & Signing
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision
*.pem

# Metro & Bundler
.metro-health-check*

# Environment & Secrets
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs & Debug
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
lerna-debug.*

# Testing & Coverage
coverage/
*.lcov
.nyc_output

# Typescript & Caches
*.tsbuildinfo
.eslintcache
.cache/

# System Files (macOS & Windows)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDE & Editors
.idea/
*.iml
*.swp
*.swo
*~

# Expo example template
app-example/

# Generated native folders (Managed Workflow)
/ios
/android

# Internal documentation
PRD.md
